.zanr {font-size: 50px;
         text-align: justify;
         color:red;
         font-weight: bolder; 
         padding: 10px;}
  h2 {font-family: Chiller;
    border-style: dotted;
    color: yellow;}
  h1 {font-size: 40px;
      font-style: italic;}
  .content .zdroj {text-decoration: overline;
  text-transform: uppercase;}
  .content .autor {text-decoration: underline;
  text-transform: uppercase;}
  body {background-color: LightCyan;
  line-height: normal;}
  p {font-size: 40px;
      margin-bottom: 100px; 
font-family: Arial Narrow;}
  blockquote {font-size: 20px;
              font-style:italic;}
  header {text-align: center;
    font-size: 70px;}
  .zdroj a {color:blue;}
  footer {float: left;
    font-weight: bolder;}